/*******FOUNDATION EQUALIZER*******/
.blue {
  background-color: lightblue;
}

.green {
  background-color: lightgreen;
}

.otherblue {
  background-color: blue;
  color: #fff;
}



/*******BOOTSTRAP + FLEX*******/
.row-xs-flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}
@media (min-width: 768px) {
  .row-sm-flex {
    display: flex;
  }
}
@media (min-width: 992px) {
  .row-md-flex {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .row-lg-flex {
    display: flex;
  }
}



/*******BOOTSTRAP + CSS SOLUTION*******/
@media (min-width: 992px) {

  /* top row */
  .col .well{
      margin-bottom: -99999px;
      padding-bottom: 99999px;

  }

  /* bottom row */
  .col-base{
      margin-top: -15px; /* cut off top portion of bottom wells */

  }
}

@media (max-width: 991px) {
  .row.base {
      display:none;
  }
}


.col-wrap{
    overflow: hidden;
}

/*below: attempted reset for "well" styling*/
/*.well {
  background-color: inherit;
  border: none;
  padding: 0;
}*/






/*******BOOTSTRAP + BEST CSS SOLUTION*******/
.row-eq-height {
    overflow: hidden;
}

.col-eq-height {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
