/*general styles*/
.blue {
  background-color: lightblue;
  padding: 15px;
}

.green {
  background-color: lightgreen;
  padding: 15px;
}

.pink {
  background-color: pink;
  padding: 15px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 15px;
}
h4 {
  color: #555;
}
p, li {
  font-size: 16px;
}
p strong {
  color: #555;
}

.container {
  margin-bottom: 55px;
}





/*******BOOTSTRAP + FLEX*******/
.row-xs-flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}
@media (min-width: 768px) {
  .row-sm-flex {
    display: flex;
  }
}
@media (min-width: 992px) {
  .row-md-flex {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .row-lg-flex {
    display: flex;
  }
}



/*******BOOTSTRAP + CSS SOLUTION*******/
@media (min-width: 992px) {

  /* top row */
  .col .well{
      margin-bottom: -99999px;
      padding-bottom: 99999px;

  }

  /* bottom row */
  .col-base{
      margin-top: -15px; /* cut off top portion of bottom wells */

  }
}

@media (max-width: 991px) {
  .row.base {
      display:none;
  }
}


.col-wrap{
    overflow: hidden;
}

/*below: attempted reset for "well" styling*/
/*.well {
  background-color: inherit;
  border: none;
  padding: 0;
}*/






/*******BOOTSTRAP + BEST CSS SOLUTION*******/
.row-eq-height {
    overflow: hidden;
}

.col-eq-height {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
